<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="Database" value="{CommonApplicationData}\data.db" />
  </appSettings>

  <system.serviceModel>
    
        <behaviors>
          
            <endpointBehaviors>
              <behavior name="basicHttp">
                 <endpointDiscovery enabled="true" />
              </behavior>
              
              <behavior name="webHttp">
                <webHttp />
              </behavior>
            </endpointBehaviors>
          
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        
        </behaviors>
    
      <bindings>
        <basicHttpBinding>
          <binding name="httpBinding">
          </binding>
        </basicHttpBinding>
      </bindings>
    
        <services>
            <service name="ScalesHubConsole.ScalesDataService">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="httpBinding" behaviorConfiguration="basicHttp" contract="ScalesHubConsole.IScalesHubService">
                    <identity>
                        <dns value="devel" />
                    </identity>
                </endpoint>
              <!--
                <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webHttp" contract="ScalesHubConsole.IScalesHubService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                -->

                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://devel/ScalesHub/Service" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>

  <nlog>
    <variable name="logDirectory" value="${specialfolder:folder=CommonApplicationData}/Nostrum/ScalesHubConsole/logs/${shortdate}"/>

    <extensions>
      <add assembly="ScalesHubConsole"/>
    </extensions>

    <targets async="true">
      <default-wrapper type="AsyncWrapper" />
      <target name="logfile" type="File" fileName="${logDirectory}/info.txt" />
    </targets>

    <targets>
      <target name="console" type="NxLog" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>

</configuration>
